.project-card {
  width: 16rem !important;
  height: 16rem !important;
  position: relative !important;
  background-color: #283618;
  overflow-y: scroll;
}

.project-content {
  position: absolute;
  background-color: #283618;

  width: 15rem !important;
 
  
}

/* we want to hide img and display content */
/* we apply the hover to the parent element */
/* and then add on the child element class to update style */

/* hide the project image */
.project-card:hover .project-img {
  display: none;
}

/* show the project content */
.project-card:hover .project-content {
  display: block;
}

.hideable {
  display: none;
}

#bodystyle {
  background-color: #283618;
  color: #f5f5dc;
  font-size: calc(10px + 2vmin);

}


#rhys-portrait {
  margin: 2%;
}

/* .App-header {
  background-color: #283618;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
} */

.App-link {
  color: #d4a373;
  text-decoration: none;
}

.App-link:hover {
  color: bisque;
}

